.header{
    background-color: var(--white);
    border-bottom: 3px solid var(--teal);
}

.navbar{    
    max-width: 1100px;
    margin: 0  auto;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 700px) {
    .navbar{
        flex-wrap: wrap;
    }
}