:root{
  --teal: #19c0e1;
  --blue: #1769aa;
  --gray: #454d4f;
  --white-smoke: #f5f5f5;
  --white: #ffffff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, sans-serif ;
  background-color: var(--white-smoke);
  color: var(--gray);
}